@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap");

* {
  font-family: "Roboto", sans-serif;  
}

.body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  padding: 10px;
}
#logo {
  height: 50vh;
  width: 50vh;
  box-shadow: 2px 0px 5px rgba(255, 0, 38, 0.3);
}
.hero {
  background-image: url(../images/flawlessskin-1589384044.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin-bottom: auto;
  z-index: -2;
}

.hero h1 {
  font-size: 60px;
  letter-spacing: 1px;
  font-weight: 200;
  color: rgb(0, 0, 0);
  padding: 20px;
  text-shadow: 1cm;
}
#imgskin {
  height: 9cm;
  width: 15cm;
}
#blogcol1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#skin {
  font-weight: 300;
  color: rgb(255, 6, 122);
}

.hero p {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: rgb(255, 0, 111);
  padding: 20px;
}
#accordion {
  color: rgb(255, 255, 255);
  font-weight: 300;
  border: solid 1px rgb(255, 0, 111);
  background-color: rgb(82, 68, 71);
  transform: scale(1.1);
  transition: 1s ease;
}
#accordion p {
  font-size: 22px;
}

#searchcol1 {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
.col1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#brands {
  background-color: transparent;
  border: rgb(255, 2, 2) solid 1px;
  border-radius: 5px;
  margin: 3px;
  width: 25%;
  outline: none;
}
.brands option {
  font-size: 16px;
  color: rgb(248, 14, 115);
  font-weight: 300;
}
#brand1 {
  color: red;
  font-size: 20px;
  padding-top: 10px;
}
#findbtn {
  background-color: transparent;
  border: none;
  padding: 5px;
}
#itemscontainer {
  background-color: rgb(244, 207, 207);
}
#item {
  display: grid;
  grid-template-columns: repeat(auto-fit,20rem);
  justify-content: center;
  row-gap: 2rem;
  column-gap: 2rem;
  margin-bottom: 10px;
}

.productDiv {
  border: 1px solid rgb(255, 0, 111);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  align-items: center;
}
.productDiv:hover {
  transform: scale(1.1);
  transition: 1s ease;
}
.description {
  font-size: 10px;
  text-align: center;
  padding: 5px;
}

.productDiv h6 {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  padding: 5px;
}
.productImage {
  height: 100px;
}
.productDiv p {
  font-weight: 300;
}
.price {
  background-color: rgb(242, 41, 118);
  padding: 3px;
  border-radius: 2px;
  width: 50%;
  text-align: center;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.form-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 50vh;
  height: 50vh;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  display: none;
}
.form button {
  width: 50%;
  border: none;
  background-color: red;
  color: white;
}
.form input {
  width: 100%;
  border: none;
  border-bottom: 2px solid red;
  background-color: transparent;
  outline: none;
}
.form ::placeholder {
  color: rgb(117, 74, 74);
  font-weight: 100;
}
.form p {
  color: rgb(250, 250, 250);
  background-color: red;
  padding: 10px;
  width: 100%;
  text-align: center;
}

#footer-col-1 ul {
  display: flex;
}
#footer-col-1 ul li {
  display: flex;
  list-style: none;
  height: 10vh;
  padding: 10px;
  background-color: white;
  cursor: pointer;
}
#footer {
  background-color: rgb(82, 68, 71);
  color: white;
}
#footer-col-2 {
  align-items: flex-start;
}
#sendbtn {
  background-color: red;
  color: white;
  border: red;
}
#checkbox,
#policy {
  color: red;
  cursor: pointer;
}
.popup {
  width: 400px;
  background-color: #fff;
  border-radius: 6px;
  position: absolute;
  display: none;
  text-align: center;
  padding: 0 30px 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.popup img {
  width: 100px;
  height: 100px;
}
#popbtn {
  border: none;
  background-color: rgb(71, 198, 71);
  color: white;
  padding: 0 10px 0px;
  border-radius: 5px;
}
.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: none;
}
.top p {
  color: red;
}
